.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* styles.css */
.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.login-button button {
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

/*Icon login*/
.login-button button {
  background-color: #333;
  color: #333;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.iconImage {
  width: 32px;
  height: 32px;
}

.login-button button svg {
  margin-right: 5px;
}

/* SignUp Css */
.cadastro-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  margin: 50px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #777;
  transition: all 0.3s ease;
  pointer-events: none;
}

input.register {
  width: 75%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 35px; /* Ajuste para acomodar o label */
}

input:focus + label,
input:not(:placeholder-shown) + label {
  font-size: 12px;
  color: #333;
}

.btn-cadastrar {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-cadastrar:hover {
  background-color: #555;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
